# Ignore virtual environment
yolo-env/
venv/
.venv/

# Ignore cache and logs
__pycache__/
*.log

# Ignore large model files (already tracked in LFS)
*.pt
*.onnx
*.h5
*.ckpt
*.dll
*.pyd
*.lib
